extends layout

block title
  | React Native UI Kitten

block content
  div.hero
    div.hero-image
      img(src=contents.images['main.png'].url)
    div.hero-content
      div.text
        span.title
          strong React&nbsp;
          span Native
      div.text
        span.sub UI FRAMEWORK
      div.minitext Pure library with set of components that ease to customize
      div.buttons-unit
        a.button(href=firstArticleUrl) DOCUMENTATION
    img#next.next(src=contents.images['mouse.png'].url)
  div#free.free-block
    h2.free IS IT FREE?
    p.yes Yes
    p.description UI Kit is completely free and MIT licensed.
      br
      | That means you can do with it whatever you want.
  div.support-block
    h2.head HOW YOU CAN SUPPORT US?
    p.do Here's what you can do:
    div.actions
      a(href="https://github.com/akveo/react-native-ui-kitten", target='_blank')
        img(src=contents.images['git.png'].url)
        p Star us
      a(href="https://twitter.com/akveo_inc", target='_blank')
        img(src=contents.images['twitter.png'].url)
        p Follow us
      a(href="https://www.facebook.com/akveo/", target='_blank')
        img(src=contents.images['fb.png'].url)
        p Like us
     p.thank THANKS =)
  div.hire-block
    h2.head CAN I HIRE YOU?
    p.description Yes! We are available for hire. Visit #[a(href='http://akveo.com',target='_blank') our homepage]
      | &nbsp;or simply leave us a note at #[a(href='mailto:contact@akveo.com') contact@akveo.com].
      | &nbsp;We will be happy to work with you!

block scripts
  script(src=contents.js['index.js'].url)